<!DOCTYPE html>
<html>
    <head>
        <title>Hype Analysis</title>
    </head>
    <body>

        Hello world.

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js">
        </script>

        <div class="hype-chart" style="position: relative">
          <canvas id="hypeChart" width="400" height="400"></canvas>
          <script>
            var ctx = document.getElementById("hypeChart");
            var hypeChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: options
            });
          </script>
        </div>
    </body>
</html>
