<!DOCTYPE html>
<html>
    <head>
        <title>Hype Analysis</title>
    </head>
    <body>

        Hello world.

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js">
        </script>

        <div class="hype-chart" style="position: relative">
          <canvas id="hypeChart" width="400" height="400"></canvas>
          <script>
          var json_data = {{ data|tojson|safe }};


            var ctx = document.getElementById("hypeChart").getContext('2d');
            var hypeChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Bitcoin"],
                datasets: [{
                  label: "Date",
                  data: [json_data]
                }]
              },

            });
          </script>
        </div>
    </body>
</html>
